.account-picker-element {
  position: relative;
  width: 100%;
  transition: background-color 120ms ease;
}

.account-picker-element:hover {
  background-color: #f3f3f3;
}

.account-picker-element__container {
  display: flex;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
}

.account-picker-element__submit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: 10;
  opacity: 0;
  margin: 0 !important;
  padding: 0 !important;
  outline: 0 !important;
  border: 0 !important;
  appearance: none !important;
  cursor: pointer;
}

.account-picker-element__avatar {
  width: 42px;
  height: 42px;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.account-picker-element__avatar-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.account-picker-element__avatar-content_text {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.account-picker-element__avatar-content_text > div {
  font-size: 24px;
  text-transform: uppercase;
  line-height: 1;
  margin-top: 3px;
  color: white;
}

.account-picker-element__label {
  margin-left: 15px;
  margin-right: 10px;
}

.account-picker-element__label-title {
  font-weight: bold;
  line-height: 1;
  font-size: 15px;
}

.account-picker-element__label-subtitle {
  line-height: 1;
  margin-top: 4px;
  font-size: 13px;
}

.account-picker-element__suffix {
  margin-left: auto;
  font-size: 13px;
  white-space: nowrap;
}

.account-picker-element__palette-a {
  background-color: #ff6347;
}

.account-picker-element__palette-b {
  background-color: #1e90ff;
}

.account-picker-element__palette-c {
  background-color: #ffd700;
}

.account-picker-element__palette-d {
  background-color: #8a2be2;
}

.account-picker-element__palette-e {
  background-color: #008080;
}

.account-picker-element__palette-f {
  background-color: #ff69b4;
}

.account-picker-element__palette-g {
  background-color: #00ff00;
}

.account-picker-element__palette-h {
  background-color: #ffa500;
}

.account-picker-element__palette-i {
  background-color: #9370db;
}

.account-picker-element__palette-j {
  background-color: #7cfc00;
}

.account-picker-element__palette-k {
  background-color: #d2691e;
}

.account-picker-element__palette-l {
  background-color: #556b2f;
}

.account-picker-element__palette-m {
  background-color: #4169e1;
}

.account-picker-element__palette-n {
  background-color: #ff8c00;
}

.account-picker-element__palette-o {
  background-color: #8b4513;
}

.account-picker-element__palette-p {
  background-color: #20b2aa;
}

.account-picker-element__palette-q {
  background-color: #ffdab9;
}

.account-picker-element__palette-r {
  background-color: #ff6347;
}

.account-picker-element__palette-s {
  background-color: #00ced1;
}

.account-picker-element__palette-t {
  background-color: #00fa9a;
}

.account-picker-element__palette-u {
  background-color: #ffd700;
}

.account-picker-element__palette-v {
  background-color: #800080;
}

.account-picker-element__palette-w {
  background-color: #228b22;
}

.account-picker-element__palette-x {
  background-color: #8b008b;
}

.account-picker-element__palette-y {
  background-color: #4169e1;
}

.account-picker-element__palette-z {
  background-color: #9932cc;
}
